body {
      background-color: #cefff1
}
h1   {
      color: #66bfbf
}
h3   {
      color: #66bfbf
}
hr   {
      border-style: dotted none none;
      border-top-width: thick;
      color: #8ac6d1;
      width: 5%
}
title {
      font-family: sans-serif;

}
